.scene_title {
    -fx-font-size: 0.9em;
    -fx-text-fill: #7405A4;
    -fx-font-family: 'sans-serif';
    -fx-font-weight: 900;
}

.master_password {
    -fx-font-size: 1.6em;
    -fx-text-fill: #5C5C9E;
    -fx-font-family: 'sans-serif';
    -fx-font-weight: 900;
}

.status_text {
    -fx-font-size: 0.8em;
    -fx-text-fill: #555555;
    -fx-font-family: 'sans-serif';
    -fx-font-weight: 900;
}

.error_title {
    -fx-font-size: 1em;
    -fx-text-fill: #CB0067;
    -fx-font-family: 'sans-serif';
    -fx-font-weight: 900;
}



